.DS_Store
.idea/
.vscode/

storage/logs/*
!storage/logs/.gitkeep

storage/rate_limit/*
!storage/rate_limit/.gitkeep
storage/cache/*
!storage/cache/.gitkeep
!storage/.gitkeep

App/Config/app.local.php
.env
